body{ margin: 0px; }

@font-face{
    src:url("../assets/Fonts/CircularStd-Book.woff2");
    font-family: Circular;
}

.Faixa-5{
    color: white;
    background-color: #003e41;
    font-family: Circular;
    padding:48px 0px;
}
.F5-container{
    display: flex;
    flex-direction: row;

    margin:  0px 80px;
    padding: 24px;

    justify-content: center;
}
.F5-b-title{
    font-size: 24px;
    font-weight: 700;
}
.F5-b-text{
    margin-top: 30px;

    font-size: 18px;

    width: 217px;
    align-self: center;
    font-weight: 200;
}
.F5-b-text1{
    margin-top: 30px;

    font-size: 18px;

    width: 210px;
    align-self: center;
    font-weight: 200;
}
.f5-box{
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;

    margin: 0px 10px;
}