body {margin: 0px;}

@font-face{
    src:url("../assets/Fonts/CircularStd-Book.woff2");
    font-family: Circular;
}
@font-face {
    src: url("../assets/Fonts/Madera\ Regular.woff2");
    font-family: Madera_regular;
}
.Faixa-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    font-family: Circular;

    padding: 30px 222px;
}

.F4-titulo{
    text-align: center;
    color: #484848;
    font-size: 32px;
    padding: 6px 0px;
    margin-bottom: 15px;
    font-family: Madera_regular;
}
.F4-txt{
    text-align: center;
    width: 720px;
    color: #484848be;
    font-size: 18px;
    font-family: Madera_regular;

    margin-bottom: 30px;
}
.box-lista{
    color: #484848cc;
    font-size: 13px;
    text-align: left;

    line-height: 20px;

}
.box-lista ul{

    padding-left: 15px;

}
.F4-box{
    background-color:  #f7f6f7;
    display: flex;
    flex-direction: row;

    margin: 40px;
}
.F4-box-image img{
    width:510px;
}

.F4-box-text{
    padding: 15px 64px;
    margin: -16px;
}

.box-titulo{
    font-weight: 600;
    color: #484848;
    font-size: 18px;

    padding: 32px 0px;
}

.box-content{
    font-size: 14px;
    width: 400px;
    color: #484848cc;
}

.box-desc{
    padding-top: 26px;

    font-size: 12px;
    color: #484848be;
}