body{ margin:0px; }

@font-face{
    src:url("../assets/Fonts/MontSerrat/Montserrat-Bold.ttf");
    font-family: Montserrat-bold;}

@font-face{
    src:url("../assets/Fonts/Source_sans_pro/SourceSansPro-Regular.ttf");
    font-family: Source-sans-regular;}
@font-face{
    src:url("../assets/Fonts/Source_sans_pro/SourceSansPro-SemiBold.ttf");
    font-family: Source-sans-semibold;}
@font-face{
    src:url("../assets/Fonts/Source_sans_pro/SourceSansPro-Bold.ttf");
    font-family: Source-sans-bold;}
 @font-face{
        src:url("../assets/Fonts/MontSerrat/Montserrat-Regular.ttf");
        font-family: Montserrat-Regular;}
.Faixa-1{
    background-image: url("../assets/images/hero-warren-educacao-in-company_desktop-min.png");
    background-attachment: fixed;
    background-size:100%;
}
.F1-Cabecalho{
    padding: 18px 0px 0px 34px;
}
.F1-Cabecalho img{
    width:200px;
}
.F1-texto{
    padding-top: 120px;
    padding-bottom: 33.5px;

    width:510px;
    height:auto;
    
    font-family:Montserrat-bold;
    color:white;
    font-size:50px;
    line-height:50px;

    letter-spacing: -1px;
}
.F1-Conteudo{
    padding-left:110px;
    padding-bottom: 16%;
}
.F1-botao button{
    border-radius:100px;
    border:none;
    
    background-color:#EE2E5D;
    color:white;

    padding:25px;

    font-family:Source-sans-bold, sans-serif;
    font-weight: 700;
    font-size:16px;
}
@media(max-width:1024px){
    .Faixa-1, .F1-Conteudo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        line-height: 10px;
    
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .Faixa-1{
        background-image: url("../assets/images/hero-warren-educacao-in-company-mobile.png");
        background-attachment: fixed;
        background-size:130%;
        background-repeat: no-repeat;
        background-position-x: -108px;

    }
    .F1-texto{
        padding: 90px 0 20px 0px;
        font-size: 1.55em;
        margin-top: 20px;
        line-height: 30px;
        padding-left: 30px;


        width: 65%;
    }
    .F1-Cabecalho{
        padding:0px;
        padding-top: 15px;
        padding-bottom:0px;
        padding-left: 30px;
    }
    .F1-botao{
        padding-left: 30px;
        padding-bottom: 125px;
    }
    .F1-botao button{
        width: 75%;
        padding: 25px 0px;
    }
}
.Faixa-2{
    display:flex;
    flex-direction:row;
    padding-top:100px;
    padding-bottom:100px;
    padding-left:160px
}
.F2-tema{
    display:flex;
    flex-direction:column;
    width:500px;
    margin-right:50px;
}
.F2-titulo{
    font-family:Source-sans-bold;
    color:#666666;
}
.F2-subtitulo{
    font-family: Montserrat-bold;
    font-size:2.4em;
    color:#171717;
    letter-spacing: -1px;
    line-height:40px;
    
}
.F2-descricao{
    font-family:Source-sans-regular;
    width:440px;
    font-size:1em;
    padding-top:60px;
}
@media (max-width: 1024px){
    .Faixa-2, .F2-subtitulo, .F2-titulo, .F2-descricao, .F2-tema{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    
        padding: 0px;
        margin: 0px;
        height: auto;
        width: 100%;
    }
    .Faixa-2{
        padding-top: 16px;
        padding-bottom: 30px;
    }
    .F2-subtitulo{
        font-size: 24px;
        width: 80%;
        letter-spacing: -1px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .F2-titulo{
        width: 80%;

    }
    .F2-descricao{
        width: 80%;

    }
}

.Faixa-3{
    display:flex;
    flex-direction: row;

    padding-top:150px;
    padding-bottom:100px;
    padding-left:146px
}
.Faixa-3{
    background-color:#F5F6FA;
}
.F3-titulo{
    font-family:Source-sans-bold;
    color:#666666;

    padding-left:25px;
}
.F3-subtitulo{
    display:flex;
    align-items:flex-start;

    letter-spacing: -1px;
}
.F3-subtitulo{
    font-family: Montserrat-bold;
    font-size:2.5em;
    color:#171717;
    padding-left:25px;

    line-height: 2rem;

    margin-bottom: 20px;
}
.F3-lista{
    font-family:Source-sans-regular;
    font-size: 1em;
    width:350px;
}
.F3-lista li{
    margin-bottom: 20px;
}
.F3-conteudo{
    display:flex;
    flex-direction:column;

    margin-right:250px;
}
.F3-imagem img{
 width:550px
}

@media (max-width: 1024px){
    .Faixa-3, .F3-lista, .F3-conteudo, .F3-imagem, .F3-subtitulo, .F3-titulo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    }
    .Faixa-3{
        padding-bottom: 15px;
    }
    .F3-titulo {
        text-align: left;
        width: 80%;
        padding-top: 30px;
        line-height: 0px;
        margin-bottom: 5px;
    }
    .F3-subtitulo{
        font-size: 22px;
        align-items: flex-start;

        width: 80%;
        margin-bottom: 30px;
        letter-spacing: 0px;
    }
    .F3-imagem{
        text-align: center;
    }
    .F3-imagem img{
        width: 80%;
    }
}

.Faixa-4{
    display:flex;
    flex-direction: row;
}

.Faixa-4{
    background-color: #1d1c20;

    padding-bottom:180px;
    padding-top:130px;
}

.F4-titulo{
    font-family:Source-sans-bold;
    color:#666666;
}


.F4-texto{
    width: 350px;
    padding-left:200px;

    padding-right: 100px;
}
.F4-subtitulo{
    font-family:Montserrat-bold;
    color:white;

    font-size:2.4em;
    line-height: 38px;
}
.F4-descricao{
    width: 350px;
    color:white;
    font-family:Montserrat-regular;
    line-height: 18px;
    letter-spacing: -1;

    font-size:13px;

    font-weight: 500;

    padding-top:30px;
    padding-left: 90px;

    align-self: right;
}

@media(max-width:1024px){
    .Faixa-4, .F4-texto, .F4-descricao{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    
        padding: 0px;
        margin: 0px;
        height: auto;
        width: 100%;
    }
    .Faixa-4{
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
    }
    .F4-texto{
        width: 80%;
    }
    .F4-descricao{
        width: 80%;
        margin-top: 30px;
    }
    .F4-subtitulo{
        font-size: 1.2em;
        width: 80%;
        line-height: 24px;
    }
}

.Faixa-5{
    display: flex;
    justify-content: center;

    background-color: black;
    padding: 50px;
    padding-top: 100px;
}

.f5-texto{
    background-image: url("../assets/images/quote_warren_educacao_company.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 13%;

    width:530px;
    padding-top: 15px;
}
.f5-frase{
    color:white;
    font-family:Source-sans-regular;
    font-size:1.4em;
    text-align: center;


}
.f5-nome{
    color:white;
    font-family:Source-sans-regular;

    text-align: center;
    padding: 30px;
}
@media(max-width: 1024px){

  .Faixa-5, .f5-frase{flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    }
    .Faixa-5{
        padding: 30px 0px;
        margin: 0 0 0 0;
    }
    .f5-frase{
        text-align: center;
    }
    .f5-texto{
        background-size: 20% ;
        width: 80%;
        font-size: 0.9em;
        text-align: center;
    }
    .f5-nome{
        padding: 0;
        padding-top: 15px
    }

}
.Faixa-6{
    display: flex;
    justify-content: center;

    background-color: black;
    background-image: url("../assets/images/background-palestra-warren-educacao-incompany.png");
    background-attachment: fixed;
    background-size:100%;
    background-repeat: no-repeat;

    padding-top: 130px;
    padding-bottom: 130px;
}
.f6-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 840px;
}
.f6-box-texto{
    font-family: Montserrat-bold;
    font-size: 1.5em;
    width: 100px;

    padding-right: 70px;
    color: white;

}

.f6-box1{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
    width: 400px;
    text-align: center;

    background-image: url("../assets/images/educacao-financeira 1.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 20px;
}
.f6-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;

    height: 150px;
    width: 400px;
    text-align: center;

    background-image: url("../assets/images/planejamento-financeiro\ 1.png");
    background-repeat:no-repeat;
    background-size: 35%;
    background-position: 30px;
}
.f6-box3{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
    width: 400px;
    text-align: center;

    background-image: url("../assets/images/investimento\ 1.png");
    background-repeat:no-repeat;
    background-size: 35%;
    background-position: 30px;
}
.f6-box4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;

    height: 150px;
    width: 400px;
    text-align: center;

    background-image: url("../assets/images/cenario-macroeconomico\ 1.png");
    background-repeat:no-repeat;
    background-size: 36%;
    background-position-y: 19px;
    background-position-x: 40px;
}
@media(max-width:1024px){
    .f6-container{
        align-content: center;
    }

    .Faixa-6{
        background-size: 350%;
        background-position-x: -470px;
        width: 100%;
    }

    .f6-box1, .f6-box2, .f6-box3, .f6-box4{
        width: 80%;
       background-size: 50%;

        background-position-y: 15px;
        background-position-x: -20px;
    }
    .f6-box1, .f6-box3{
        margin-left: 30px;
    }

}
.Faixa-7{
    padding-top: 150px;
    padding-bottom: 250px;
    padding-left: 130px;
    background-color: #F5F6FA;
}

.f7-titulo{
    font-family: Source-sans-bold;
    color:#666666;
}
.f7-descricao{
    display: flex;
    flex-direction: column;
    width: 700px;
}
.f7-linha-cima{
    font-family: Montserrat-bold;
    font-size: 2.25em;
    line-height: 40px;
}
.f7-linha-baixo{
    font-family: Montserrat-bold;
    font-size: 2.25em;
    line-height: 40px;
}
.f7-image-container{
    padding-top: 150px;
}
.f7-cima img{
    width: 300px;    
}
.f7-cima{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
}
.f7-baixo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.f7-sponsor1 img{
    width: auto;
    height: 72px;
    margin-left: 80px;
    margin-right: 80px;
}
.f7-sponsor2 img{
    width: 107px;
    height: 42px;
    margin-left: 80px;
    margin-right: 80px;
}
.f7-sponsor3 img{
    width: auto;
    height: 17px;
    margin-left: 80px;
    margin-right: 80px;
}
.f7-sponsor4 img{
    width: 107px;
    height: auto;
    margin-left: 80px;
    margin-right: 80px;
}

.f7-sponsor5 img{
    width: 132px;
    height: auto;
    margin-left: 80px;
    margin-right: 80px;
}
.f7-sponsor6 img{
    width: 105px;
    height: 64px;
    margin-left: 90px;
    margin-right: 90px;
}
.f7-sponsor7 img{
    width: 103px;
    height: 50px;
    margin-left: 90px;
    margin-right: 90px;
}
@media (max-width: 1024px) {
    .f7-descricao, .Faixa-7, .f7-baixo ,.f7-cima, .f7-linha-baixo, .f7-linha-cima{
        justify-content: center;
        align-items: center;
        text-align: center;
    
        padding: 0px;
        margin: 0px;
        height: auto;
        width: 100%;

    }
    .Faixa-7{
        padding-top: 0px;
        padding-bottom: 50px;
        padding-left: 0px;
    }
    .f7-image-container, .f7-cima, .f7-baixo{
        display: flex;
        flex-wrap: wrap;
        padding-top: 0px;
    }
    .f7-descricao{
        width: 90%;

        font-size: 0.6em;
        line-height: normal;

        text-align: left;
    }
    .f7-texto{
        padding-left: 2.1em;
        padding-top: 2.1em;

        padding-bottom: 2.1em;
    }
    .f7-linha-baixo, .f7-linha-cima, .f7-titulo{
        text-align: left;
        line-height: 25px;

    }

    .f7-sponsor1 img{
        width: 176px;
        margin-top: 80px;
    }
    .f7-sponsor2 img{
        width: 103px;
        margin-top: 80px;
    }
    .f7-sponsor3 img{
        width: 147px;
        margin-top: 80px;
    }
    .f7-sponsor4 img{
        width: 103px;
        margin-top: 80px;
    }
    
    .f7-sponsor5 img{
        width: 125px;
        margin-top: 80px;
    }
    .f7-sponsor6 img{
        width: 103px;
        margin-top: 80px;
        }
    .f7-sponsor7 img{
        width: 103px;
        margin-top: 80px;
    }


}

.Faixa-8{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1d1c20;

    padding-top: 50px;
    padding-bottom: 50px;
}

.F8-botao button{
    border-radius:100px;
    border:none;
    
    background-color:#EE2E5D;
    color:white;

    padding:25px;

    font-family:Source-sans-bold ,sans-serif;
    font-weight: 700;
    font-size:16px;
}
@media (max-width: 1024px){
    .Faixa-8{
        padding:18px 36px;
    }
}

.Faixa-9{

    padding-top: 95px;
    padding-bottom: 105px;
    padding-left: 200px;
}

.F9-titulo{
    font-family: Source-sans-bold ,sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #666666;
}
.F9-desc{
    font-family: Montserrat-bold;
    font-size: 40px;

}
.F9-dep-container{
    display: flex;
    flex-direction: row;

    padding-top: 100px;
    align-items: center;
    width: 80%;
}
.F9-depoimento{
    background-color: #F5F6FA;
    height: 343px;
    width: 300px;
    padding: 30px;
    margin-right: 35px;

    border-radius: 10px;
}
.F9-depoimento img{
    width: 40px;
    margin-bottom: 20px;    
}
.F9-Relator-empresa1 img{
    width: 70px;
}
.F9-dep-texto{
    width: 270px;
    font-size: 16px;
    letter-spacing: -1;
    line-height: 20px;
    font-family: Source-sans-regular;

    margin-bottom:25px;
}
.F9-relator{
    font-size: 15px;
    font-family: Source-sans-bold;

    margin-bottom: 30px;
}

@media(max-width:1024px){
    .Faixa-9{
        padding-left: 7%;
    }
    .F9-desc{
        font-size: 1.3em;
    }
    .F9-depoimento{
        width: 260px;
        padding: 30px;
        margin: 0px;
        padding-bottom: 0px;
        margin-bottom: 5%;
    }
    .F9-relator{
        margin-bottom: 15px;
    }
    .F9-dep-texto{
        font-size: 1em;
    }
    .F9-dep-container{
        flex-wrap: wrap;
    }
}

.Faixa-10{
    display: flex;
    flex-direction: row;

    justify-content: center;

    background-color: #EE2E5D;

    padding-top: 150px;
    padding-bottom: 85px;
    padding-right: 50px;
}
.f10-texto{
    padding-right: 50px;
}
.f10-titulo{
    font-family: Source-sans-bold ,sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #E3E4EB;
}
.f10-descricao{
    width:510px;
    height:auto;
    
    font-family:Montserrat-bold;
    color:white;
    font-size:40px;

    letter-spacing: -1px;

    margin-bottom: 25px;
    margin-top: 10px;
}
.f10-conteudo-txt{
    font-family: Source-sans-regular ,sans-serif;

    width: 433px;
    font-size: 16px;
    color:white;

    line-height: 20px;
}
.f10-imagem img{
    width: 370px;
}

@media(max-width:1024px){
    .Faixa-10{
        flex-direction: column;
        padding: 2.3em 2.5em 0px 2.5em;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .f10-descricao{
        font-size: 1em;
    }
    .f10-conteudo-txt{
        margin-top: 15px;
        width: 18em;
        font-size: 16px;
        margin-left: 0px;
        text-align: left;
        margin-bottom: 2.5em;
    }


    .f10-texto{
        padding: 0px;
        padding: 0px;
        width: 100%;
        text-align: left;
    }
    .f10-imagem img{
        width: 288px;
    }
    .f10-descricao{
        padding: 0px;
        margin: 0px;
        width: 90%;
        text-align: left;
        font-size: 1.4em;

        margin-top: 10px;
    }


}

.Faixa-11{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding:100px;
}
.f11-titulo{
    font-family: Montserrat-bold ,sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: black;

    margin-bottom: 30px;
}

.f11-texto-baixo{
    font-family: Source-sans-regular, sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;

    width: 640px;

    margin-bottom: 15px;
}
.f11-email-fone, .f11-cargo-empresa-qtd{
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 685px;

    font-family: Source-sans-regular, sans-serif;
    font-size: 14px;
}
.categoria, .categoriaS,  .categoriaN{
    display: flex;
    flex-direction: column;

    font-family: Source-sans-regular, sans-serif;
    font-size: 14px;
}
.categoriaN input{
    width: 100%;
    height: 30px;

    background-color: #F5F6FA;
    border: none;
}
.f11-email-fone input{
    width: 330px;
    height: 30px;

    background-color: #F5F6FA;
    border: none;
}
.f11-cargo-empresa-qtd input{
    width: 210px;
    height: 30px;

    background-color: #F5F6FA;
    border: none;
}
.categoriaS{
 width: 190px;
 overflow: hidden;
}
.categoriaS select {
    width: 210px;
    height: 30px;

    border: none;
    border-radius: 1px;
    background-color: #F5F6FA;
}
.f11-Msg{
    width: 685px;
    height: 100px;

    font-family: Source-sans-regular, sans-serif;
    font-size: 14px;
}
.f11-Msg textarea{
    width: 100%;
    height: 100%;
    resize: none;

    border: none;
    background-color: #F5F6FA;
}
.F11-botao{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 30px;
}
.F11-botao button{
    border-radius:100px;
    border:none;
    
    background-color:#EE2E5D;
    color:white;

    padding:25px 50px;

    font-family:Source-sans-bold, sans-serif;
    font-size:18px;
}
@media(max-width:1024px){
    .Faixa-11, .f11-cargo-empresa-qtd ,.f11-email-fone ,.f11-email-fone, .f11-Msg, .f11-titulo,.f11-texto-baixo{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .Faixa-11{
        padding-bottom: 1.92em;
    }

    .f11-email-fone input, .categoriaN input, .f11-cargo-empresa-qtd input, .f11-cargo-empresa-qtd select, .f11-Msg textarea{
        width: 20em;

        margin-bottom: 10px;
    }

    .categoriaS{
        flex-direction: column;
        align-items: left;
        justify-content: left;

        width: 100%;
        padding: 0px;
        margin: 0px; 
    }

    .categoriaN{
        flex-direction: column;
        align-items: left;
        justify-content: left;

        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .f11-titulo{
        padding-top: 1.35em;
        font-size: 1.3em;
        text-align: center;
    }
    .f11-texto-baixo{
        padding: 1.4em;
        font-size: 1em;
        width: 16.53em;
        line-height: 30px;
    }
}
.Faixa-12{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    background-color: #1d1c20f3;

    font-family: Source-sans-regular, sans-serif;
    font-size: 17px;
    color: white;

    padding:50px 280px 50px 300px;
}

.f12-logo img{
    width: 122px;
}
.f12-redes{
    padding-left: 70px;
}
.f12-redes img{
    width: 28px;
    padding: 5px;
}

.f12-contatos{
    text-align: center;
}
.f12-l1{
    margin-top: 7px;
    margin-bottom: 7px;
}
.f12-l2{
    margin-top: 7px;
    margin-bottom: 7px;
}
.f12-l3{
    margin-top: 7px;
    margin-bottom: 7px;
}
.f12-cnpj{
    font-size: 12px;
}

@media(max-width:1024px){
    .Faixa-12{
        flex-direction: column;
        padding: 0px;
    }
    .f12-redes{
        padding:0px;
        margin: 0px;
        justify-content: space-around;
    }
    .f12-redes img{
        margin: 20px 0px;
    }
    .f12-logo{
        margin: 20px 78.25px;
    }
    .f12-l1{
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .f12-l2{
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .f12-l3{
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .f12-cnpj{
        font-size: 12px;
        margin-bottom: 7px;
    }
}