.cabecalho{
    display: flex;
    flex-direction: row;

    color: white;
    background-color: black;
    padding: 0px 100px;
}
.F1-logo{
 flex-grow: 1;
 font-size: 1.5rem;
 padding: 21px 0px;
}
.F1-logo a{
    color: white;
    font-family: Uber1;
}

.F1-botao-ling{
    display: flex;
    flex-direction: row;

    align-items: center;
}

.linguagem svg{
    margin-right: 5px;
}

.linguagem{
    background-color: black;
    border: none;
    color: white;
    font-family: Uber2;

    display: flex;
    align-content: center;
    justify-content: center;

    margin-right: 10px;
}

.viaje{
    background-color: white;
    border: white;

    font-family: Uber2;
    color: black;
    font-size: 0.9em;
    font-weight: 500;

    border-radius: 30px;
    padding:10px;
}