body {margin:0;}

@font-face {
    font-family: Uber1;
    src: url("./UberMove-Regular.woff2");
}

@font-face {
    font-family: Uber2;
    src: url("./UberMove-Medium.woff2");
}

@font-face {
    font-family: Uber3;
    src: url("./UberMoveBold.otf");
}

@font-face {
    font-family: Uber4;
    src: url("./UberMoveMedium.otf");
}

a{
    text-decoration: none;
}